<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Generale">
        <setting id="player_mode" type="enum" values="Diretto|SetResolvedUrl|Built-In|Download and Play" label="30044" default="0"/>
        <setting id="default_action" type="enum" lvalues="30006|30007|30008" label="30005" default="0"/>
        <setting id="thumbnail_type" type="enum" lvalues="30011|30012|30200" label="30010" default="2"/>
        <setting id="channel_language" type="labelenum" values="all|it|cast|lat" label="30019" default="all"/>
        <setting id="trakt_sync" type="bool" label="Sincronizzare con Trakt.TV (Necessario un account)" default="false"/>
        <setting id="forceview" type="bool" label="30043" default="false"/>
        <setting id="debug" type="bool" label="30003" default="false"/>
        <setting label="Server" type="lsep"/>
        <setting id="resolve_priority" type="enum" label="Metodo prioritario" values="Free|Premium|Debriders" default="0"/>
        <setting id="resolve_stop" type="bool" label="Smetti di cercare quando trovi un'opzione" default="true"/>
        <setting id="hidepremium" type="bool" label="Nascondere i server a pagamento senza un account" default="false"/>
        <setting type="sep"/>
        <setting label="Canali per adulti" type="lsep"/>
        <setting id="adult_aux_intro_password" type="text" label="Pasword (predefinita 0000):" option="hidden"  default=""/>
        <setting id="adult_mode" type="enum" values="Mai|Sempre|Fino al riavvio di Kodi" label="30002" enable="!eq(-1,)" default="0"/>
        <setting id="adult_request_password" type="bool" label="Richiedi la password per aprire i canali per adulti"  enable="!eq(-1,0)+!eq(-2,)" default="true"/>
        <setting id="adult_aux_new_password1" type="text" label="Nuova password:" option="hidden" enable="!eq(-3,)" default=""/>
        <setting id="adult_aux_new_password2" type="text" label="Conferma Nuova pasword:" option="hidden" enable="!eq(-1,)" default=""/>
    </category>

    <!-- Path downloads -->
    <category label="30501">
        <setting id="path_selection" type="enum" values="Scrivi il percorso|Esamina il percorso" default="0" label="Tipo de ruta"/>
        <setting id="downloadpath" type="text" label="30017" default="" visible="eq(-1,0)"/>
        <setting id="downloadpath" type="folder" label="30017" default="" visible="eq(-2,1)"/>
        <setting id="downloadlistpath" type="text" label="30018" default="" visible="eq(-3,0)"/>
        <setting id="downloadlistpath" type="folder" label="30018" default="" visible="eq(-4,1)"/>
        <setting id="videolibrarypath" type="text" label="30067" default="" visible="eq(-5,0)"/>
        <setting id="videolibrarypath" type="folder" label="30067" default="" visible="eq(-6,1)"/>

        <setting type="sep"/>
        <setting label="30131" type="lsep"/>
        <setting id="folder_tvshows" type="text" label="Nome della cartella per 'Serie tv'" default="SERIES"/>
        <setting id="folder_movies" type="text" label="Nome della cartella per 'Film'" default="CINE"/>
        <setting id="videolibrary_kodi_flag" type="number" label="" default="0" visible="false"/>
        <setting id="videolibrary_kodi" type="bool" label="Autoconfigurare la libreria di XBMC/Kodi" enable="lt(-1,2)+eq(0,false)" default="false"/>
    </category>
     <category label="Pagina Iniziale">
        <setting id="start_page" type="bool" label="Attivare la pagina di inizio" default="false"/>
        <setting id="custom_start" type="bool" label="Personalizzazione (selezionare  un canale)" default="false"
                 visible="eq(-1,True)"/>
        <setting id="news_start" type="bool" label="Mostra Novita'" default="false" visible="eq(-2,True)"
                 enable="eq(-1,False)+eq(-2,True"/>
         <setting id="category" type="labelenum" label="Categoria"
                 values="Peliculas|Series|Anime|Infantiles|Documentales|Terror|Castellano|Latino|Torrent"
                 default="Peliculas" visible="eq(-3,True)+eq(-1,True)+eq(-2,False)" enable="eq(-3,True)+eq(-1,True)+(-2,false)"/>
   </category>
    <category label="Opzioni di Visualizzazione">
        <setting id="icon_set" type="labelenum" label="Setting icone" values="default|dark" default="default"/>
        <setting id="infoplus_set" type="labelenum" label="Setting Infoplus" values="Senza Animazione|Con Animazione" default="Senza Animazione"/>
   </category>
    <category label="Altro">
        <setting label="Info per Film/Serie TV nel menu' contestuale" type="lsep"/>
        <setting id="infoplus" type="bool" label="Mostra opzioni Infoplus:" default="true"/>
        <setting id="extended_info" type="bool" label="Mostra opzioni ExtendedInfo (Necessario addon esterno):" default="false"/>

		<setting label="Tasti di accesso rapido  (Le modifiche richiedono il riavvio di Kodi)" type="lsep"/>
		<setting id="shortcut_key" type="action" label="30999" action="RunPlugin(plugin://plugin.video.alfa-pureita/?ew0KICAgICJhY3Rpb24iOiAia2V5bWFwIg0KfQ==)" />

        <setting type="sep"/>
        <setting label="TheMovieDB (ottiene dati per Film e Serie TV)" type="lsep"/>
        <setting id="tmdb_threads" type="labelenum" values="5|10|15|20|25|30" label="Ricerche simultanee (puo' causare instabilità)" default="20"/>
        <setting id="tmdb_plus_info" type="bool" label="Cerca informazioni estese (Aumenta il tempo di ricerca)" default="false"/>
        <setting id="tmdb_cache" type="bool" label="Usa cache (migliora le ricerche ricorrenti)" default="true"/>
        <setting id="tmdb_cache_expire" type="enum" lvalues="ogni giorno|ogni 7 giorni|ogni 15 giorni|ogni 30 giorni|No" label="Cancellare la cache?" enable="eq(-1,true)" default="4"/>
        <setting id="tmdb_clean_db_cache" type="action" label="Premere per cancellare la cache salvata" action="RunPlugin(plugin://plugin.video.alfa-pureita/?ew0KICAgICJhY3Rpb24iOiAic2NyaXB0Ig0KfQ==)" />

   </category>

</settings>
